<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title='Admin')"> </head>
  <body>
    <div id="hormenu"><!-- div che contiene il menu -->
<ul> <!-- lista principale: definisce il menu nella sua interezza -->
<li>
<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
<ul> <!-- Lista annidata: voci del sotto-menu -->
<li><a href="#op">Opere</a></li>
<li><a href="#art">Artisti</a></li>
<li><a href="#coll">Collezioni</a></li>
<li><a href="#cur">Curatori</a></li>
<li><a href="/">home</a></li>

</ul> <!-- Fine del sotto-menu -->
</li> <!-- Chiudo il list-item -->
<!--qui altri list-item -->
</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
	<header th:replace="fragments/base.html :: intestazione(nome='Menu Amministratore')">
	</header>
    <section id="op">
      <!-- elenco opere --> 
       <em>Opere</em>
            <div>
            <table>
              <tr th:each="opera:${opere}">
                <td  th:text="|${opera.title}|">titolo </td> 
                <td>
                <form th:action="@{'/admin/rimuoviopera' + '/' + ${opera.id}}" method="GET">
                 <button type="submit">rimuovi</button>
                 </td>
                </form>
              </tr>
              <tr>
              <td>
              <a href="/admin/opera">aggiungi opera</a></a>
              </td>
              </tr>
            </table>
            </div>
    </section>  
      <section id="art">
      <!-- elenco artisti --> 
       <em>Artisti</em>
            <div>
            <table>
              <tr th:each="artista:${artisti}">
               <td  th:text="|${artista.firstname} ${artista.lastname}|">titolo </td>
               <td>
                <form th:action="@{'/admin/rimuoviartista' + '/' + ${artista.id}}" method="GET">
                 <button type="submit">rimuovi</button>
                </form>
               </td>
              </tr>
               <tr>
              <td>
              <a href="/admin/opera">aggiungi artista</a></a>
              </td>
              </tr>
            </table>
            </div>
    </section>  
      <section id="coll">
      <!-- elenco collezioni --> 
       <em>Collezioni</em>
            <div>
            <table>
              <tr th:each="collezione:${collezioni}">
                <td  th:text="|${collezione.name}|">titolo </td> 
                <td>
                <form th:action="@{'/admin/rimuovicollezione' + '/' + ${collezione.id}}" method="GET">
                 <button type="submit">rimuovi</button>
                </form>
				</td>
              </tr>
               <tr>
              <td>
              <a href="/admin/opera">aggiungi collezione</a></a>
              </td>
              </tr>
            </table>
            </div>
    </section> 
    <section id="cur"> 
    <!-- elenco artisti --> 
       <em>Curatori</em>
            <div>
            <table>
              <tr th:each="curatore:${curatori}">
               <td  th:text="|${curatore.firstname} ${curatore.lastname}|">titolo </td>
               <td>
                <form th:action="@{'/admin/rimuovicuratore' + '/' + ${curatore.matricola}}" method="GET">
                 <button type="submit">rimuovi</button>
                </form>
				</td>
              </tr>
               <tr>
              <td>
              <a href="/admin/opera">aggiungi curatore</a></a>
              </td>
              </tr>
            </table>
            </div>
    </section>  
    <footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
  </body>
</html>