<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>artistaForm</title>
	<link th:href="@{/css/admin-menu.css}" rel="stylesheet" />
</head>

<body>
	<div id="hormenu">
		<!-- div che contiene il menu -->
		<ul>
			<!-- lista principale: definisce il menu nella sua interezza -->
			<li>
				<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
				<ul>
					<!-- Lista annidata: voci del sotto-menu -->
					<li><a href="/">home</a></li>
					<li><a href="/admin">Menu admin</a></li>
				</ul> <!-- Fine del sotto-menu -->
			</li> <!-- Chiudo il list-item -->
			<!--qui altri list-item -->
	</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
	<header th:replace="fragments/base.html :: intestazione(nome='Aggiungi Artista')">
	</header>
	<section>
		<em>dati artista</em>
		<form th:action="@{/admin/artista}" method="POST" th:object="${artista}">
			<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>	
		<div>
		<table>	
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{firstname}" /></td>
				<td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></td>
			</tr>		
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{lastname}" /></td>
				<td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></td>
			</tr>
			<tr>
				<td>Biografia:</td>
				<td><input type="text" th:field="*{biography}" /></td>
				<td th:if="${#fields.hasErrors('biography')}" th:errors="*{biography}"></td>
			</tr>
			<tr>
				<td>Nazionalità:</td>
				<td><input type="text" th:field="*{nationality}" /></td>
				<td th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></td>
			</tr>
			<tr>
				<td>Luogo di nascita:</td>
				<td><input type="text" th:field="*{birthplace}" /></td>
				<td th:if="${#fields.hasErrors('birthplace')}" th:errors="*{birthplace}"></td>
			</tr>
			<tr>
				<td>Data di nascita:</td>
				<td><input type="date" th:field="*{dateofbirth}" /></td>
				<td th:if="${#fields.hasErrors('dateofbirth')}" th:errors="*{dateofbirth}"></td>
			</tr>
			<tr>
				<td>Data di morte:</td>
				<td><input type="date" th:field="*{dateofdeath}" /></td>
				<td th:if="${#fields.hasErrors('dateofdeath')}" th:errors="*{dateofdeath}"></td>
			</tr>
			<tr>
				<td>Luogo di morte:</td>
				<td><input type="text" th:field="*{placeofdeath}" /></td>
				<td th:if="${#fields.hasErrors('placeofdeath')}" th:errors="*{placeofdeath}"></td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>	
		</table>
		</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>

</html>