<!DOCTYPE html>
<html>

<head th:replace="fragments/base.html :: headerfiles(title='Artista')"> </head>

<body>

	<body>
		<div id="hormenu">
			<!-- div che contiene il menu -->
			<ul>
				<!-- lista principale: definisce il menu nella sua interezza -->
				<li>
					<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
					<ul>
						<!-- Lista annidata: voci del sotto-menu -->
						<li><a href="#biografia">Biografia</a></li>
						<li><a href="#dati-anagrafici">Dati anagrafici</a></li>
						<li><a href="#opere">Opere</a></li>
						<li><a href="/">Home</a></li>

					</ul> <!-- Fine del sotto-menu -->
				</li> <!-- Chiudo il list-item -->
				<!--qui altri list-item -->
		</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
		<header th:replace="fragments/base.html :: intestazione(nome=|${artista.firstname} ${artista.lastname}|)">
	</header>
		<section id="biografia">
			<em>Biografia</em>
			<p align="justify" th:text="|${artista.biography}|">
			biografia
				<img src="#" align="right">
			</p>
		</section>
		<section id="dati-anagrafici" >
			<em>Dati Anagrafici</em>
			<ul>
				<li>Nome: <span th:text="|${artista.firstname}|"></span> </li>
				<li>Cognome: <span th:text="|${artista.lastname}|"></span></li>
				<li>Data di nascita: <span th:text="|${artista.dateofbirth}|"></span></li>
				<li>Data di morte: <span th:text="|${artista.dateofdeath}|"></span></li>
				<li>Nazionalità: <span th:text="|${artista.nationality}|"></span></li>
				<li>Luogo di nascita: <span th:text="|${artista.birthplace}|"></span></li>
				<li>Luogo di morte: <span th:text="|${artista.placeofdeath}|"></span></li>
			</ul>
		</section>
		<section id="opere">
			<em>Opere</em>
			<div>
			<table>
			<tr th:each="opera:${artista.opere}">
			<td>Titolo:</td>
			<td><a href="opera.html" th:href="@{'/opera' + '/' + ${opera.id}}" 
					 th:text="|${opera.title}|"> titolo</a>
			</td>
			<td><img th:src="@{'/images/'+*{opera.picture}}" align="right"/></td>
			<td id="descrizione">
			&nbsp&nbsp&nbsp&nbsp&nbsp
				<span th:text="${#strings.abbreviate(opera.description,20)}"></span>&nbsp&nbsp&nbsp&nbsp
				<span><a th:href="@{'/opera' + '/' + ${opera.id}}">Read more</a></span>
			</td>
			</tr>
			</table>
			</div>
		</section>
			<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
	</body>
</html>