<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>collezioneForm</title>
	<link th:href="@{/css/generale.css}" rel="stylesheet" />
</head>

<body>
	<div id="hormenu">
		<!-- div che contiene il menu -->
		<ul>
			<!-- lista principale: definisce il menu nella sua interezza -->
			<li>
				<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
				<ul>
					<!-- Lista annidata: voci del sotto-menu -->
					<li><a href="/">home</a></li>
					<li><a href="/admin">Menu admin</a></li>

				</ul> <!-- Fine del sotto-menu -->
			</li> <!-- Chiudo il list-item -->
			<!--qui altri list-item -->
	</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
	<header th:replace="fragments/base.html :: intestazione(nome='Aggiungi Collezione')">
	</header>
	<section>
		<em>dati collezione</em>
		<form th:action="@{/admin/collezione}" method="POST" th:object="${collezione}">
			<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{name}" /></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
			</tr>		
			<tr>
				<td>Descrizione:</td>
				<td><input type="text" th:field="*{description}" /></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
			</tr>
			<tr>
				<td>Curatore:</td>
				<td>
				<select th:field="*{curatore}">
    				<option th:each="curatore:${curatori}" th:value="${curatore.matricola}" th:text="|${curatore.firstname} ${curatore.lastname}|">
   				 	</option>
				</select>
				</td>
				<td th:if="${#fields.hasErrors('curatore')}" th:errors="*{curatore}"></td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</div>
		</form>
	</section>
		<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>

</html>