<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Collezione')"> </head>

<body>
	<div id="hormenu">
		<!-- div che contiene il menu -->
		<ul>
			<!-- lista principale: definisce il menu nella sua interezza -->
			<li>
				<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
				<ul>
					<!-- Lista annidata: voci del sotto-menu -->
					<li><a href="/">home</a></li>
					<li><a href="/admin">Menu admin</a></li>

				</ul> <!-- Fine del sotto-menu -->
			</li> <!-- Chiudo il list-item -->
			<!--qui altri list-item -->
	</div>
	<nav th:replace="fragments/base.html :: inizio">
	</nav>
	<header>
		<h1>
			<em th:text="|${collezione.name}|">Nome Collezione</em>
		</h1>
	</header>
	<section>
			<em>Descrizione</em>
			<div id="flex-container">
				<div class="col">
					<p align="justify" th:text="|${collezione.description}|">
				</div>
				<div class="col">
					<div th:unless="${#lists.isEmpty(collezione.opere)}">
           <img th:src="@{'/images/'+*{collezione.opere[0].picture}}"/>
        	</div>
        	<div th:unless="${#lists.isEmpty(collezione.opere)}">
        	(<span th:text="|${collezione.opere[0].title}, ${collezione.opere[0].artista.firstname} ${collezione.opere[0].artista.lastname}|"></span>)
        </div>
      </div>
			</div>
		</section>
	<section id="opere">
		<!-- elenco opere -->
		<em>Opere</em>
		<div>
			<table>
			<tr th:each="opera:${collezione.opere}">
			<td><p>Titolo: <a href="opera.html" th:href="@{'/opera' + '/' + ${opera.id}}" 
					 th:text="|${opera.title}|"> titolo</a>
					 </p>
					 <p>
				Artista: <a href="opera.html" th:href="@{'/artista' + '/' + ${opera.artista.id}}" 
					 th:text="|${opera.artista.firstname} ${opera.artista.lastname}|"> artista</a>
					 </p>
			</td>
			<td><img th:src="@{'/images/'+*{opera.picture}}" align="right"/></td>
			<td id="descrizione">
			&nbsp&nbsp&nbsp&nbsp&nbsp
				<span th:text="${#strings.abbreviate(opera.description,40)}"></span>&nbsp&nbsp&nbsp
				<span><a th:href="@{'/opera' + '/' + ${opera.id}}">Read more</a></span>
			</td>
			</tr>
			</table>
			</div>
		<div id="curatore">
			<em>Curatore:</em>
			<span th:text="|${collezione.curatore.firstname} ${collezione.curatore.lastname}|">Nome Cognome</span>
		</div>
	</section>
		<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>

</html>