<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>CuratoreForm</title>
	<link th:href="@{/css/admin-menu.css}" rel="stylesheet" />
</head>

<body>
	<div id="hormenu">
		<!-- div che contiene il menu -->
		<ul>
			<!-- lista principale: definisce il menu nella sua interezza -->
			<li>
				<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
				<ul>
					<!-- Lista annidata: voci del sotto-menu -->
					<li><a href="/">home</a></li>
					<li><a href="/admin">Menu admin</a></li>
				</ul> <!-- Fine del sotto-menu -->
			</li> <!-- Chiudo il list-item -->
			<!--qui altri list-item -->
	</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
	<header th:replace="fragments/base.html :: intestazione(nome='Aggiungi Curatore')">
	</header>
	<section>
		<em>dati curatore</em>
		<form th:action="@{/admin/curatore}" method="POST" th:object="${curatore}">
			<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
		<table>
			<tr>
				<td>Nome:</td>
				<td><input type="text" th:field="*{firstname}" /></td>
				<td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></td>
			</tr>		
			<tr>
				<td>Cognome:</td>
				<td><input type="text" th:field="*{lastname}" /></td>
				<td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type="text" th:field="*{email}" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input type="number" th:field="*{phonenumber}" /></td>
			</tr>
			<tr>
				<td>Luogo di nascita:</td>
				<td><input type="text" th:field="*{birthplace}" /></td>
				<td th:if="${#fields.hasErrors('birthplace')}" th:errors="*{birthplace}"></td>
			</tr>
			<tr>
				<td>Data di nascita:</td>
				<td><input type="date" th:field="*{dateofbirth}" /></td>
				<td th:if="${#fields.hasErrors('dateofbirth')}" th:errors="*{dateofbirth}"></td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>

</html>