<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='LogIn')"> </head>

<body>
	<div id="hormenu">
		<!-- div che contiene il menu -->
		<ul>
			<!-- lista principale: definisce il menu nella sua interezza -->
			<li>
				<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
				<ul>
					<!-- Lista annidata: voci del sotto-menu -->
					<li><a href="/">home</a></li>

				</ul> <!-- Fine del sotto-menu -->
			</li> <!-- Chiudo il list-item -->
			<!--qui altri list-item -->
	</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
	<header th:replace="fragments/base.html :: intestazione(nome='LogIn')">
	</header>
	<section>
		<em>login</em>
		<form th:action="@{/login}" method="POST">
		<div class="dati">
		<table>
			<tr>
				<td>Username:</td>
				<td><input name="username" type="text" required /></td>
			</tr>		
			<tr>
				<td>Password:</td>
				<td><input name="password" type="password" required /></td>
			</tr>
			<tr>
				<td><button type="submit">Login</button></td>
			</tr>
		</table>
		</div>
	</form>
		<form th:action="@{/register}" method="GET">
			<table>
			<tr>
			<td><button type="submit">Registrati</button></td>
			</tr>
			</table>
		</form>
	</section>
		<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>

</html>