<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='ModificaCuratore')"> </head>
<body>
	<div id="hormenu">
		<!-- div che contiene il menu -->
		<ul>
			<!-- lista principale: definisce il menu nella sua interezza -->
			<li>
				<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
				<ul>
					<!-- Lista annidata: voci del sotto-menu -->
					<li><a href="/">home</a></li>
					<li><a href="/admin">Menu admin</a></li>

				</ul> <!-- Fine del sotto-menu -->
			</li> <!-- Chiudo il list-item -->
			<!--qui altri list-item -->
	</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
	<header th:replace="fragments/base.html :: intestazione(nome='Modifica Curatore')">
	</header>
	<section>
		<em>dati opera</em>
		<form th:action="@{'/admin/modificaCuratore' + '/' + ${curatore.matricola}}" method="POST" enctype="multipart/form-data" th:object="${curatore}">
		</div>		
		<div>
		<table class="update">
			<tr>
				<td>Nome: <span th:text="*{firstname}"></span></td>
				<td>modifica nome:<input type="text" name="firstname" /></td>
			</tr>		
			<tr>
				<td>Cognome: <span th:text="*{lastname}"></span></td>
				<td>modifica cognome:<input type="text" name="lastname" /></td>

			</tr>
			<tr>
				<td>email: <span th:text="*{email}"></span></td>
				<td>modifica email:<input type="text" name="email" /></td>
			</tr>
			<tr>
				<td>telefono: <span th:text="*{phonenumber}"></span></td>
				<td>modifica telefono:<input type="number" name="phonenumber" /></td>
			</tr>
			<tr>
				<td>luogo di nascita: <span th:text="*{birthplace}"></span></td>
				<td>modifica luogo:<input type="text" name="birthplace" /></td>
			</tr>
			<tr>
			<td></td>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>
