<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='OperaForm')"> </head>
<body>
	<div id="hormenu">
		<!-- div che contiene il menu -->
		<ul>
			<!-- lista principale: definisce il menu nella sua interezza -->
			<li>
				<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
				<ul>
					<!-- Lista annidata: voci del sotto-menu -->
					<li><a href="/">home</a></li>
					<li><a href="/admin">Menu admin</a></li>

				</ul> <!-- Fine del sotto-menu -->
			</li> <!-- Chiudo il list-item -->
			<!--qui altri list-item -->
	</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
	<header th:replace="fragments/base.html :: intestazione(nome='Aggiungi Opera')">
	</header>
	<section>
		<em>dati opera</em>
		<p>Attenzione verificare che l'autore dell'opera da inserire e la collezione in cui inserirla siano presenti negli elenchi sotto indicati altrimenti: 
		 <a href="/admin/artista">aggiungi artista</a>,  <a href="/admin/collezione">aggiungi collezione</a></p>
		<form th:action="@{/admin/opera}" method="POST" enctype="multipart/form-data" th:object="${opera}">
			<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
		<table>
			<tr>
				<td>Titolo:</td>
				<td><input type="text" th:field="*{title}" /></td>
				<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
			</tr>		
			<tr>
				<td>Anno:</td>
				<td><input type="number" th:field="*{year}" /></td>
				<td th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></td>
			</tr>
			<tr>
				<td>Descrizione:</td>
				<td><input type="text" th:field="*{description}" /></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
			</tr>
			<tr>
				<td>Artista:</td>
				<td>
				<select th:field="*{artista}">
    				<option th:each="artista:${artisti}" th:value="${artista.id}" th:text="${artista.lastname}">
   				 	</option>
				</select>	
				</td>		
			</tr>
			<tr>
				<td>Collezione:</td>
				<td>
				<select th:field="*{collezione}">
    				<option th:each="collezione:${collezioni}" th:value="${collezione.id}" th:text="${collezione.name}">
   				 	</option>
				</select>
				</td>
			</tr>
			<tr>
			<td>
			<label>Picture:</label>
			</td>
				<td><input type="file" name="file" accept="image/png, image/jpeg" /></td>
			</tr>
			<tr>
				<td><button type="submit">Invio</button></td>
			</tr>
		</table>
		</div>
		</form>
	</section>
	<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>

</html>