<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title='Home')"> </head><head th:replace="fragments/base.html :: headerfiles(title='Opera')"> </head>
<body>
  <body>
    <div id="hormenu"><!-- div che contiene il menu -->
<ul> <!-- lista principale: definisce il menu nella sua interezza -->
<li>
<a href="#"><img src="/images/icons8-menu-48.png"/></a> <!-- primo list-item, prima voce del menu -->
<ul> <!-- Lista annidata: voci del sotto-menu -->
<li><a href="#immagine">Immagine</a></li>
<li><a href="#descrizione">Descrizione</a></li>
<li><a href="/">Home</a></li>

</ul> <!-- Fine del sotto-menu -->
</li> <!-- Chiudo il list-item -->
<!--qui altri list-item -->
</div>
		<nav th:replace="fragments/base.html :: inizio">
		</nav>
		<header id="opera">
		<h1>
			<em th:text="${opera.title}"></em>
		</h1>
	</header>
    <section id="immagine">
        <img  th:src="@{'/images/'+*{opera.picture}}"/>
      <div>Autore:
        <a href="#" th:href="@{'/artista' + '/' + ${opera.artista.id}}" 
        th:text="|${opera.artista.firstname} ${opera.artista.lastname}|">
          nome cognome
        </a>
      </div>
    </section>
      <section id="descrizione">
        <em>Descrizione</em>
        <p th:text="|${opera.description}|">descrizione</p>
        </ul>
      </section>
     	<footer th:replace="fragments/base.html ::  fondo(home='/')">
	</footer>
</body>
</html>